@import "tailwindcss";

:root {
  --text: #504B39;
  --arche: #E3D7C6;
}

@theme inline {
  --color-text: var(--text);
  --color-arche: var(--arche);
  --font-primary: var(--font-libre-baskerville);
  --font-name: var(--font-authenia);
  --font-title: var(--font-manhattan);
  --font-bsd: var(--font-shlomo-stam)
}

.musique button{
    height: 40px;
    width: 40px;
    border : 2px #BBA787 solid;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 10px;
    z-index: 10;
    padding: 5px;
}

.musique svg{
    padding: 0;
    margin: 0;
    overflow: visible;
}